streamlit
langchain
langchain
langchain-openai
langchain-community
qdrant-client
openai
chromadb
tiktoken
unstructured
pdfminer.six
beautifulsoup4
tqdm
pandas
scikit-learn
requests
python-dotenv
datetime
fpdf
